<h1>使用者後台</h1>

<a href='/admin/restaurants'>
  <button type="button" class="btn btn-outline-primary">Restaurant Management</button>
</a>
<a href='/admin/categories' style="text-decoration: none;">
  <button type="button" class="btn btn-outline-warning">Category Management</button>
</a>
<br />
<br />

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Role</th>
      <th scope="col">#</th>
    </tr>
  </thead>
  <tbody>
    {{#each users}}
    <tr>
      <th scope="row">{{this.id}}</th>
      <td>{{this.name}}</td>
      <td>{{this.email}}</td>
      <td>{{#if this.isAdmin}}admin{{else}}user{{/if}}</td>
      <td>
        <form action="/admin/users/{{this.id}}/toggleAdmin?_method=PUT" method="POST" style="display: inline;">
          <button type="submit" class="btn btn-link" style="text-decoration: none;">Set as {{#if
            this.isAdmin}}user{{else}}admin{{/if}}</button>
        </form>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>